{% extends 'base.html' %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-6">История рассылки</h3>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for mailingtry in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4>Статус попытки==> {{ mailingtry.status }}</h4>
                        <h7>Код ответа сервера==> {{ mailingtry.response }}</h7>
                        <h4>Название рассылки==> {{ mailingtry.mailing }}</h4>
                        <h7>Дата попытки==> {{ mailingtry.try_datetime }}</h7>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}