{% extends 'base.html' %}
{% block content %}
<div class="p-3 mb-2 bg-warning-subtle text-warning-emphasis">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ mailing.name }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Время первого отправления: {{ mailing.first_send_datetime }}</li>
            </ul>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Время следующей отправки: {{ mailing.next_send_datetime }}</li>
            </ul>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Время окончания отправки: {{ mailing.last_send_datetime }}</li>
            </ul>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Периодичность: {{ mailing.get_period_display }}</li>
            </ul>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Статус: {{ mailing.get_status_display }}</li>
            </ul>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Сообщение: {{ mailing.message.message }}</li>
            </ul>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Клиенты для рассылки:
                    {% for client in mailing.clients.all %}
                    {{ client.name }} - {{ client.email }}|
                    {% endfor %}
                </li>
            </ul>

            <a class="btn btn-lg btn-block btn-warning" href="{% url 'mailing:mailing_update' object.pk %}">Изменить</a>
            {% if user.is_superuser %}
            <a class="btn btn-lg btn-block btn-danger" href="{% url 'mailing:mailing_delete' object.pk %}">Удалить</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}