{% extends "base.html" %}
{% load media_tag %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Главная страница</h1>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-6 card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Статистика сервиса</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                                <li>Количество рассылок: {{ mailings_count }}</li>
                            </ul>
                            <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                                <li>Количество активных рассылок: {{ active_mailings }}</li>
                            </ul>
                            <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                                <li>Количество уникальных клиентов: {{ uniq_clients }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for blog in blog_list %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{blog.title}}</h4>
                </div>
                <div class="card-body">
                    <img src="{{blog.image | media_tag }}" class="card-img-top img-thumbnail">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ blog.content }}</li>
                    </ul>
                    <a class="btn btn-mb btn-outline-primary"
                       href="{% url 'blog:blog_detail' blog.pk %}">Подробнее</a>
                    <hr>
                    <a class="text-muted float-right">Количество просмотров: {{blog.count_of_views}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}